<div class="header">
  <div class="mainlogo">
    <img src="/assets/Dark Slate Grey Outline Arrows Architectural Logo(1).png" height="200" width="200"/>
  </div>
  <div class="searchBox">
    <input class="searchInput"type="text" name="" placeholder="Search">
    <button class="searchButton" href="#">
      <img src="/assets/RwuGa6-button-search-png.png" height="22" width="24"/>
    </button>
  </div>
</div>

<div class="row">
  <div id="leftcolumn" class="column">
    <div class="card">
      <h2>Notifications</h2>
      <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
    </div>
    <div class="card">
      <h2>Recommended</h2>
      <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
    </div>
    <div class="card">
      <h2>Messages</h2>
      <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
    </div>
    <div class="card">
      <h2>My profile</h2>
      <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
    </div>
    <div class="card">
      <button class="tweetbutton" type="submit">Tweet</button>
    </div>
  </div>
  <div id="centercolumn" class="column">
    <div class="tweetcard">
      <h2>User @abc tweeted:</h2>
      <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Integer pellentesque quam vel velit. Quisque porta. Vestibulum fermentum tortor id mi.
        Duis pulvinar. , Dec 7, 2017</h5>
    </div>
    <div class="tweetcard">
      <h2>User @abc retweeted</h2>
      <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Integer pellentesque quam vel velit. Quisque porta. Vestibulum fermentum tortor id mi.
        Duis pulvinar. , Sep 2, 2017</h5>
      <img class="img" src="/assets/Insert_Image_Here.jpg" height="296" width="629"/>
    </div>
  </div>
  <div id="rightcolumn" class="column">
    <div class="card">
      <h2>Trending today:</h2>
      <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
    </div>
  </div>
</div>
